.background {

    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1613290237_113-p-sinii-fon-doroga-155.jpg);
    background-size: cover;
    filter: opacity(50%);

}

.form_auth_block{
    width: 400px;
    height: 500px;
    margin: 100px auto;
    background-color: rgb(164, 186, 206);
    background-size: cover;
    border-radius: 4px;
}

.form_auth_block_content{
  padding-top: 15%;
}

.form_auth_block_head_text{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    background: #ffffff;
    opacity: 0.7;
}

.form_auth_block input{
  display: block;
  margin: 10px auto;
  width: 80%;
  height: 45px;
  border-radius: 10px;  
  border:none;
  outline: none;
  padding: 0 20px;
}

input:focus {
  color: #000000;
  border-radius: 10px;
  border: 2px solid #436fea;
}

.form_auth_button{
    width: 30px;
    display: block;
    width: 40%;
    margin: 100px auto;
    border-radius: 10px;
    height: 35px;
    border: none;
    cursor: pointer;
}