body,
html {
    margin: 0;
    height: 100%;
}

body {
    background-image: url(https://img5.goodfon.ru/original/1920x1080/3/e0/markus-spiske-temporausch-by-markus-spiske-temporausch-mar-1.jpg);
    background-size: cover;
    padding: auto;
    align-content: center;
    height: 100%;
    margin: 0;
}

.root {
    display: flex;
    justify-content: space-around;
}

.basket {
    color: white;
    height: auto;
    margin: 10px;
    text-align: center;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: block;
    justify-content: center;
    align-content: center;
    font-size: 20px;
}

.user_info {
    text-align: start;
    color: white;
    font-size: 20px;
    height: 500px;
    margin: 10px;
    padding-left: 5%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.item_block {
    display: flex;
    margin-top: 10px;
    width: 90%;
    height: auto;
    border: 2px rgb(77, 122, 4) solid;
    margin-left: auto;
    margin-right: auto;
}

.img_block {
    max-width: 150px;
    max-height: 150px;
    margin: auto 5px;
    padding: 0;
}

.img_block img {
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
}

.info_block {
    width: 100%;
    height: auto;
    text-align: center;
}

.change_info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    align-items: center;
}

.change_info input {
    width: 100%;
    font-size: 20px;
    margin: 5px;
    border-radius: 10px;
    border: 1px rgb(77, 122, 4) solid;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

change_info input:active {
    border: 2px rgb(77, 122, 4) solid;
}

#save_btn {
    width: 30%;
    margin-left: 35%;
}

#save_btn:hover {
    background-color: rgb(77, 122, 4);
    border: 1px rgb(0, 0, 0) solid;
}

.avatar_image {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    width: 250px;
    height: 250px;
}

.avatar_image img {
    width: 250px;
    height: 250px;
}

.info_user_block {
    display: flex;
}

.number_order {
    margin: 10px 0;
}

.delete_btn {
    border: 1px rgb(77, 122, 4) solid;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 20px;
    padding: 5px 40px;
    margin: 10px 0;
}

.delete_btn:hover {
    background-color: rgba(77, 122, 4, 0.7);
    border: 1px rgb(0, 0, 0) solid;
}

#back_to_catalog {
    width: 50px;
    height: 50px;
    filter: invert(1);
}

#back_to_catalog:hover {
    filter: opacity(.5) drop-shadow(0 0 0 rgb(157, 255, 0));
}